#sponsors .content,
#sponsors-sidebar {
  div.poiesz {
    background:		white url('../images/sponsors/poiesz.jpg') no-repeat 0 0;
  }

  div.aukerauwerda {
    background:		white url('../images/sponsors/aukerauwerda.jpg') no-repeat 0 0;
  }

  div.overeinder {
    background:		white url('../images/sponsors/overeinder.png') no-repeat 50% 40px;
    padding-top:	89px;
    font-size:		1.2em;
    line-height:  1em;
    font-weight:	bold;
  }

  div.mosselman {
    background:		white url('../images/sponsors/mosselman.png') no-repeat 50% 40px;
    padding-top:	40px;
    font-size:		0.8em;
    font-weight:	bold;
  }

  div.formido {
    background:		white url('../images/sponsors/formido.png') no-repeat 50% 0px;
    font-size:		0.8em;
    font-weight:	bold;
  }

  div.abs {
    background:		white url('../images/sponsors/abs.png') no-repeat 50% 40px;
    font-size:		0.8em;
    font-weight:	bold;
  }

  div.peterjansen {
    background:		white url('../images/sponsors/peterjansen.png') no-repeat 50% 40px;
    font-size:		0.8em;
    font-weight:	bold;
  }

  div.hoekstra
  {
    background:		white url('../images/sponsors/hoekstra.png') no-repeat 50% 0px;
    font-size:		0.8em;
    font-weight:	bold;
  }

  div.bakker
  {
    background:		white url('../images/sponsors/bakker.png') no-repeat 50% 0px;
    font-size:		0.8em;
    font-weight:	bold;
  }

  div.dnauta
  {
    background:		white url('../images/sponsors/nauta.png') no-repeat 50% 0px;
    font-size:		0.8em;
    font-weight:	bold;
  }

  div.amicaal
  {
    background:		white url('../images/sponsors/amicaal.png') no-repeat 50% 0px;
    font-size:		0.8em;
    font-weight:	bold;
  }
}
