
{{ "<!-- contributie -->" | safeHTML }}
  <section id="contributie" class="main">
    <div class="container">
      <div class="content">
        <header class="major">
          <h2>Contributie</h2>
        </header>
  			<p><strong>Betaling contributie (en KNZB-afdracht):</strong><br>
        Het contributie-tarief is afhankelijk van de groep waarbij je traint, het aantal keren dat je traint en de startvergunning.<br>
        Het bestuur vraagt jaarlijks tijdens de ALV goedkeuring voor verhoging van de contributietarieven.</p>
        <p><strong>De contributie-tarieven zijn:</strong><br>
        Jeugdrecreanten (1 x zwemmen per week): € 32,50 per kwartaal<br>
        Jeugdrecreanten (2 x zwemmen per week): € 44,50 per kwartaal<br>
        Hieronder vallen de jeugd-wedstrijdzwemmers en de minipoloërs</p>
        <p>Senior recreanten: € 44,50 per kwartaal<br>
        Wedstrijdzwemmers: € 56,50 per kwartaal<br>
        Jeugd waterpolo (12 jaar en ouder): € 55,50 per kwartaal<br>
        Senior waterpolo: € 67,50 per kwartaal<br>
        Senior recreanten waterpolo: € 56,50 per kwartaal</p>
        {{ partial "readmore.html" . }}
        <div class="more-info-panel">
          <p><strong>KNZB-afdracht: </strong><br>
          Elk lid van Zwemvereniging Middelsé is tevens bondslid van de KNZB. Zv Middelsé draagt jaarlijks de bondscontributie af aan de KNZB.</p>
          <p>Deze KNZB-afdrachtstarieven zijn voor 2013:<br>
          Leden die niet deelnemen aan de wedstrijdsporten: € 10,65<br>
          Leden onder 12 jaar met een startvergunning: € 12,35<br>
          Leden van 12 jaar en ouder met een startvergunning: € 42,80</p>
          <p>Deze KNZB-afdrachtstarieven zijn voor 2014:<br>
          Leden zonder startvergunning: €12.25<br>
          Leden met startvergunning onder 12 jaar: €13.95<br>
          Leden met startvergunning ouder dan 12: €44.95</p>
          <p>Deze KNZB-afdrachtstarieven worden jaarlijks geïndexeerd.<br>
          Leden die meedoen aan wedstrijden dienen te beschikken over een startvergunning.</p>
          <p><strong>Automatische incasso: </strong><br>
          Wij geven er de voorkeur aan dat de contributie per automatische incasso wordt betaald.</p>
          <p>Van degenen die op het aanmeldingformulier toestemming hebben gegeven voor een automatische incasso wordt 4 x per jaar de contributie geïnd en daarnaast 1 x per jaar de KNZB-afdracht.<br>
          Eigen overschrijving: Van degenen die aangegeven hebben niet per automatische incasso wensen te betalen wordt verwacht dat zij elk kwartaal de contributie overschrijven op bankrekeningnummer: NL03 RABO 0120 8832 44 t.n.v. Zwemvereniging Middelsé.</p>
          <p>Daarnaast wordt verwacht dat 1 x per jaar de KNZB-afdracht zal worden betaald.<br>
          Bij het niet nakomen van de contributie-verplichting behoudt de vereniging zich het recht voor, de incasso van de verschuldigde contributie in handen te geven van een incasso-bureau. Alvorens hiertoe over te gaan, zal je over het voornemen van het bestuur schriftelijk geïnformeerd worden. De uit de incasso voortvloeiende kosten zullen op jou worden verhaald.</p>
          <p><strong>Opzeggen:</strong><br>
          Opzeggen van de lidmaatschap is alleen mogelijk in de eerste 2 maanden van elk kwartaal. De beëindiging van het lidmaatschap zal dan per de eerstvolgende kwartaal ingaan. (opzeggen in januari c.q. februari resulteert in een beëindiging per 1 april, opzeggen in april of mei resulteert in een beëindiging per 1 juli etc.)<br>
          Bij niet tijdige opzegging van het lidmaatschap zal deze met een kwartaal worden verlengd.<br>
          Beëindiging van het lidmaatschap dient schriftelijk of per e-mail plaats te vinden.</p>
          <p><strong>Contactgegevens:</strong><br>
          Emiel Deinum<br>
          E-mail: secretaris@zvmiddelse.nl</p>
          <p><strong>Algemene mutaties:</strong><br>
          Algemene mutaties, adres, telefoonnummer, e-mailadres, wijziging rekeningnummer etc. moeten kenbaar gemaakt worden aan de penningmeester.</p>
        </div>
      </div>
      <a href="#zwembad" class="goto-next scrolly"></a>
    </div>
  </section>
