
{{ "<!-- lidworden -->" | safeHTML }}
  <section id="lidworden" class="main">
    <div class="container">
      <div class="content">
        <header class="major">
          <h2>Lid worden</h2>
        </header>
          <p>ZV Middels&eacute; is al decennia een begrip in Stiens en omstreken. Wij bieden jong en oud de mogelijkheid om te zwemmen en te waterpolo&euml;n. Zowel recreatief als in wedstrijdverband.</p>
          <p>Bij ons kunnen de volgende doelgroepen terecht:
            <ul>
              <li>Alle kinderen die hun A diploma hebben</li>
              <li>Wedstrijdzwemmers</li>
              <li>Triathleten</li>
              <li>Jeugdige waterpolo&euml;rs vanaf 7 jaar</li>
              <li>Heren waterpolo&euml;rs</li>
              <li>Dames waterpolo&euml;rs</li>
              <li>Recreanten (jeugd en volwassenen)</li>
              <li>Volwassenen die de borstcrawl willen leren</li>
            </ul>
            <p>Elke belangstellende mag drie keer gratis mee trainen! Je bent al lid voor &euro; 30 per kwartaal.</p>
            <p>Kom dus gerust eens langs bij een van de zwem- of waterpolotrainingen. Of als je direct lid wilt worden kun je het onderstaande documenten downloaden, invullen en afgeven aan de trainer.</p>
            <p><strong>Let op: vul altijd beide formulieren in.</strong></p>
            <p>
              <a href="downloads/Aanmeldingsformulier.pdf">Aanmeldformulier</a><br>
              <a href="downloads/Toestemmingsverklaring middelse skelp.pdf">Toestemmingsverklaring</a>
            </p>
      </div>
      <a href="#trainingstijden" class="goto-next scrolly"></a>
    </div>
  </section>
