<div onclick="window.open('http://www.dekernstiens.nl');" class="lekkers">
  Lunch&shy;room Lekkers!
</div>

<div onclick="window.open('http://www.overeinder.nl');" class="overeinder">Autobedrijf Overeinder</div>

<div onclick="window.open('http://www.kalsbeekautoschade-bv.nl');" class="abs">
  </div>

<div onclick="window.open('http://www.aukerauwerda.nl');" class="aukerauwerda">
  </div>

<div onclick="window.open('http://www.tibialis.nl');" class="dnauta">
  </div>

<div onclick="window.open('http://www.fysiotherapiestiens.nl');" class="bakker">
  </div>

<div onclick="window.open('http://amicaalgrou.nl');" class="amicaal">
  </div>


  <div onclick="window.open('http://www.poiesz-supermarkten.nl');" class="poiesz"></div>

  <div onclick="window.open('http://www.formido.nl/formido/stiens');" class="formido">
    Stiens
  </div>

  <div onclick="window.open('http://www.hoekstramannenmode.nl');" class="hoekstra">
  </div>


<div onclick="window.open('https://www.facebook.com/kapsalonLiesbethVanLeek/');" class="vanleek">
  Kapsalon van Leek
</div>

<div onclick="window.open('http://degroot.echtebakker.nl/');" class="nicoenaeltsje">
  Bakkerij
  <br/>
  Nico en Aeltsje
  <br/>
  de Groot
</div>
