<section id="sponsors" class="main">
	<div class="container">
		<div class="content">
			<header class="major">
				<h2>Sponsors</h2>
			</header>
			<div class="sponsorlist">
				<div onclick="window.open('http://www.dekernstiens.nl');">
					<br/>
		    	<span class="groot">Lunchroom Lekkers!</span>
		  	</div>

				<div onclick="window.open('http://www.overeinder.nl');" class="overeinder">Autobedrijf Overeinder</div>

				<div onclick="window.open('http://www.kalsbeekautoschade-bv.nl');" class="abs"></div>

				<div onclick="window.open('http://www.aukerauwerda.nl');" class="aukerauwerda"></div>

				<div onclick="window.open('http://www.tibialis.nl');" class="dnauta">
		    	</div>

				<div onclick="window.open('http://www.fysiotherapiestiens.nl');" class="bakker">
		    	</div>

				<div onclick="window.open('http://amicaalgrou.nl');" class="amicaal">
		    	</div>


		    	<div onclick="window.open('http://www.poiesz-supermarkten.nl');" class="poiesz"></div>

		    	<div onclick="window.open('http://www.formido.nl/formido/stiens');" class="formido">
		    		<span class="groot"><br/><br/><br/>Stiens</span>
		    	</div>

		    	<div onclick="window.open('http://www.hoekstramannenmode.nl');" class="hoekstra">
		    	</div>


				<div>
					<br/>
		    	Kapsalon
		    	<span class="groot">van Leek</span>
		  	</div>

				<div>
					Bakkerij
		    	<br/>
		    	Nico en Aeltsje
		    	<br/>
					de Groot
		  	</div>
			</div>
		</div>
	</div>
</section>
