<section id="sponsors-sidebar">
		<div onclick="window.open('http://www.dekernstiens.nl');" style="cursor: pointer;">
			<br/>
    	<span class="groot">Lunchroom Lekkers!</span>
  	</div>

		<div onclick="window.open('http://www.overeinder.nl');" style="cursor: pointer;" class="overeinder">Autobedrijf Overeinder</div>

		<div onclick="window.open('http://www.kalsbeekautoschade-bv.nl');" style="cursor: pointer;" class="abs">
    	</div>

		<div onclick="window.open('http://www.aukerauwerda.nl');" style="cursor: pointer;" class="aukerauwerda">
    	</div>

		<div onclick="window.open('http://www.tibialis.nl');" style="cursor: pointer;" class="dnauta">
    	</div>

		<div onclick="window.open('http://www.fysiotherapiestiens.nl');" style="cursor: pointer;" class="bakker">
    	</div>

		<div onclick="window.open('http://amicaalgrou.nl');" style="cursor: pointer;" class="amicaal">
    	</div>


    	<div onclick="window.open('http://www.poiesz-supermarkten.nl');" style="cursor: pointer; display: none; z-index: 1;" class="poiesz"></div>

    	<div onclick="window.open('http://www.formido.nl/formido/stiens');" style="cursor: pointer; z-index: 1; display: none;" class="formido">
    		<span class="groot"><br><br><br><br>Stiens</span>
    	</div>

    	<div onclick="window.open('http://www.hoekstramannenmode.nl');" style="cursor: pointer; z-index: 0; display: block;" class="hoekstra">
    	</div>


		<div>
			<br/>
    	Kapsalon
    	<span class="groot">van Leek</span>
  	</div>

		<div>
			Bakkerij
    	<br/>
    	Nico en Aeltsje
    	<br/>
			de Groot
  	</div>
</section>
