
{{ "<!-- vacatures -->" | safeHTML }}
  <section id="vacatures" class="main">
    <div class="container">
      <div class="content">
        <header class="major">
          <h2>Vacatures</h2>
        </header>
        <p class="">Voor meer info over de onderstaande vacatures&nbsp;of aanmelding neem contact op met <a href="mailto:info@zvmiddelse.nl" style="opacity: 1;">info@zvmiddelse.nl</a>.</p>
        <ul>
          <li><em>Voorzitter:&nbsp;</em>De plek van voorzitter komt binnenkort vrij. Lijkt het je leuk om in een leuk bestuur plaats te nemen?</li>
          <li><em>Lid sponsorcommissie: </em>We zoeken nog een enthousiast/creatief/betrokken lid of ouder die mee wil denken over sponsoring voor onze zwemvereniging in het algemeen. Er is eens per maand overleg in een gezellige commissie.</li>
        </ul>
        <p>Lijken bovenstaande vacatures niet op jou van toepassing, maar wil je toch graag je steentje bijdragen neem dan ook contact op en er wordt altijd een passende functie voor je gevonden.</p>
      </div>
      <a href="#trainingstijden" class="goto-next scrolly"></a>
    </div>
  </section>
