
{{ "<!-- waterpolo -->" | safeHTML }}
  <section id="waterpolo" class="main">
    <div class="container">
      <div class="content">
        <header class="major">
          <h2>Waterpolo uitslagen</h2>
        </header>
  		  <div id="waterpolo-uitslagen"></div>
        <a href="#" class="showmore button special">
          <span>Toon meer</span> <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
        </a>

        <header class="major">
          <h2>Waterpolo programma</h2>
        </header>
  		  <div id="waterpolo-programma"></div>
        <a href="#" class="showmore button special">
          <span>Toon meer</span> <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
        </a>
  		</div>
      <a href="#contributie" class="goto-next scrolly"></a>
    </div>
  </section>
