{{ "<!-- zwembad -->" | safeHTML }}
  <section id="zwembad" class="main">
    <div class="container">
      <div class="content">
        <header class="major">
          <h2>Zwembad</h2>
        </header>
        <p>
          Wij trainen in ons thuisbad ‘it Gryn’ in Stiens. Hier worden ook zwemwedstrijden gehouden en waterpolowedstrijden gespeeld.
        </p>
        <p>
          Het adres van zwembad ‘it Gryn’ is:<br/>
          Ieleane 1<br/>
          9051 LP Stiens<br/>
          Tel. (058) 257 2400<br/>
        </p>
      </div>
      <a href="#footer" class="goto-next scrolly"></a>
    </div>
  </section>
